.series-card{
    margin:0 1rem 2rem;
    padding:1rem;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(109, 109, 109, 0.3);
    max-width:20rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.series-card img{
    max-width: 15rem;
}
