header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
    background-color: #000000;
}

header a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin-top: 1.2%;
    margin-left: 3%;
}

.logo{
    width: 15%;
    margin-left: 52%;
}



