.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.series{
    margin-top: 3%;
}

.series h1{
    text-align: center;
    margin-bottom: 2.5%;
}
.series h3{
    text-align: center;
    margin-bottom: 2.5%;
}